.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.card {
  flex: 1 1 0px;
  width: auto;
  margin: 3px;
  background-color: #1f4b47;
  border-bottom: solid 3px #3C948B;
  cursor: pointer;
}

.coverImage {
  width: 100%;
}

.content {
  position: relative;
  padding: 1rem;
  font-weight: 300;
  color: #fff;
}